:root {
  --primary-background: #ef5350;
  --body-background: #eeeeee;
  --card-background: #ffffff;
  --font-color: #000000;
  --dropdown-background: #ffffff;
  --dropdown-hover: #eeeeee;
  --center-logo-opacity: 40%;
  --transition: all 0.3s ease;
}

.dark-mode {
  --primary-background: #c62828;
  --body-background: #121212;
  --card-background: #212121;
  --font-color: #dbdbdb;
  --dropdown-background: #2b2b2b;
  --dropdown-hover: #333333;
  --center-logo-opacity: 100%;
}

body {
  display: none;
  min-height: 100vh;
  flex-direction: column;
  background: var(--body-background);
  color: var(--font-color);
  transition: var(--transition);
}

main {
  flex: 1 0 auto;
}

textarea,
label {
  color: var(--font-color);
}

/* Navigation  */
nav ul a {
  padding: 0px 0px !important;
}

nav,
footer {
  background: var(--primary-background) !important;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  overflow: hidden;
  width: 300px;
}

.nav-icons {
  margin-top: -15px;
  padding-right: 10px;
}

.main-icon {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.tooltipped {
  transform: translateY(0px) translateX(-10px) !important;
}

.sidenav {
  background: var(--card-background);
}

.sidenav li > a {
  color: var(--font-color);
}

.sidenav li > a > i.material-icons {
  color: var(--font-color);
}

.pointer:hover {
  cursor: pointer;
}

/* Cards */
.card {
  background: var(--card-background);
  color: var(--font-color);
}

.custom-card {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 500px;
  border-radius: 5px;
  background: var(--card-background) !important;
  color: var(--font-color);
}

.card-title-custom {
  height: 65px;
  margin: -25px;
  z-index: 10;
  position: relative;
}

.card-title-text {
  margin: auto;
  padding: 15px;
}

.card-center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: var(--center-logo-opacity);
  display: block;
}

.card-title-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.expand {
  transition: var(--transition);
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border-radius: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.shrink {
  transition: var(--transition);
  position: relative;
  height: 500px;
  border-radius: 5px;
  z-index: 1;
}

.scroll-view {
  margin-top: 40px;
  overflow: scroll;
  height: 98%;
  z-index: 0;
  position: relative;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.custom-card::-webkit-scrollbar-track {
  background: var(--body-background);
}
*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid var(--body-background);
}
::-webkit-scrollbar-corner {
  background: var(--card-background);
}

/* Inputs */
.input-field label {
  color: gray;
}

.input-field input[type="text"]:focus + label {
  color: gray;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 #000;
}

.dropdown-content li > span {
  font-size: 16px;
  color: var(--font-color);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.dropdown-content li > span {
  background: var(--dropdown-background);
}
.dropdown-content li > span:hover {
  background: var(--dropdown-hover) !important;
}

.select-wrapper input.select-dropdown {
  color: var(--font-color);
}

.caret {
  fill: var(--font-color) !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0288d1;
  background-color: #0288d1;
  z-index: 0;
}

/* Loading animation */
.loader {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
  color: #1976d2;
}

.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }

/* Share UI  */
.share-icons {
  margin: 10px;
  width: 72px;
  height: 72px;
  cursor: pointer;
  border-radius: 72px;
}

.share-links {
  padding: 40px;
}

.modal {
  border-radius: 5px;
  background: var(--card-background);
  color: var(--font-color);
}
