body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.custom-card {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 70vh;
}
* {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}

.card-title-custom {
  height: 65px;
  margin: -25px;
  z-index: 10;
  position: relative;
}

.card-title-text {
  margin: auto;
  padding: 15px;
}

.scroll-view {
  margin-top: 40px;
  overflow: scroll;
  height: 90%;
  z-index: 0;
  position: relative;
}

/* Works on Chrome/Edge/Safari*/
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid white;
}

/* label color */
.input-field label {
  color: gray;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: gray;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 #000;
}

.dropdown-content li > span {
  font-size: 16px;
  color: #000;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0288d1;
  background-color: #0288d1;
  z-index: 0;
}

/* Loader */
.loader {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
  color: #1976d2;
}

.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
